<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727517104798-fj0g9roit1g48kgfvu7he35bib00ij9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727517104798-fj0g9roit1g48kgfvu7he35bib00ij9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727517104798-vqn01ap6uuvf159qrolt62bg5trp44g3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJp-kgC1Znm6hYx82_cKCB0oY87t9fv_A</string>
	<key>GCM_SENDER_ID</key>
	<string>727517104798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.ParadiseCenter</string>
	<key>PROJECT_ID</key>
	<string>paradise-5eef5</string>
	<key>STORAGE_BUCKET</key>
	<string>paradise-5eef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727517104798:ios:e4750beae673deca1b898f</string>
	<key>DATABASE_URL</key>
	<string>https://paradise-5eef5.firebaseio.com</string>
</dict>
</plist>