<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goodwill.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>610DC5E60357E8AE4768C92BCCA0821E577361F6</string>
				<key>dateExpires</key>
				<string>16/03/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>610DC5E60357E8AE4768C92BCCA0821E577361F6</string>
						<key>dateExpires</key>
						<string>16/03/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z832S99YGX</string>
						<key>name</key>
						<string>Shuja Rab</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>610DC5E60357E8AE4768C92BCCA0821E577361F6</string>
						<key>dateExpires</key>
						<string>16/03/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MSAL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z832S99YGX</string>
						<key>name</key>
						<string>Shuja Rab</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>33WARHVZR9.org.ephlux.goodwill</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z832S99YGX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>goodwill.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>24ea4b51-716c-4190-82db-2daff99531a0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.ephlux.goodwill</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z832S99YGX</string>
				<key>name</key>
				<string>Shuja Rab</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
